# Folders
.vs/
bin/
obj/

# Files
*.sln
*.user
*.vcxproj
*.filters
GameProject/Goknar.dll
Goknar/outsourced/spdlog
Goknar/outsourced/imgui/imgui
Goknar/outsourced/GLFW/GLFW
*.lib
*.obj
*.pdb
Goknar/outsourced/GLAD/bin/Debug_windows_x86_64/GLAD/GLAD.lib
Goknar/outsourced/GLAD/bin/Debug_windows_x86_64/GLAD/GLAD.pdb
Goknar/outsourced/GLAD/obj/Debug_windows_x86_64/GLAD/glad.obj
Goknar/outsourced/GLAD/obj/Debug_windows_x86_64/GLAD/GLAD.pdb
Goknar/outsourced/GLFW/bin/Debug_windows_x86_64/GLFW/GLFW.lib
Goknar/outsourced/GLFW/bin/Debug_windows_x86_64/GLFW/GLFW.pdb
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/context.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/egl_context.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/GLFW.pdb
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/init.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/input.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/monitor.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/osmesa_context.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/vulkan.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/wgl_context.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/win32_init.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/win32_joystick.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/win32_monitor.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/win32_thread.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/win32_time.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/win32_window.obj
Goknar/outsourced/GLFW/obj/Debug_windows_x86_64/GLFW/window.obj
Goknar/outsourced/imgui/obj/Debug/imgui.obj
Goknar/outsourced/imgui/obj/Debug/ImGui.pdb
Goknar/outsourced/imgui/obj/Debug/imgui_demo.obj
Goknar/outsourced/imgui/obj/Debug/imgui_draw.obj
Goknar/outsourced/imgui/obj/Debug/imgui_widgets.obj
Goknar/outsourced/imgui/obj/Debug_windows_x86_64/ImGui/ImGui.lib
Goknar/outsourced/imgui/obj/Debug_windows_x86_64/ImGui/ImGui.pdb
